parameters:
	ignoreErrors:
		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 5
			path: Classes/Backend/Controller/AdminModuleController.php

		-
			message: "#^Method Cru\\\\Psr14EventList\\\\Backend\\\\Controller\\\\AdminModuleController\\:\\:renderTree\\(\\) has parameter \\$tree with generic class ArrayObject but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: Classes/Backend/Controller/AdminModuleController.php

		-
			message: "#^Method Cru\\\\Psr14EventList\\\\Backend\\\\Controller\\\\AdminModuleController\\:\\:renderTree\\(\\) has parameter \\$tree with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Backend/Controller/AdminModuleController.php

		-
			message: "#^Method Cru\\\\Psr14EventList\\\\Backend\\\\Controller\\\\AdminModuleController\\:\\:renderTree\\(\\) has parameter \\$tree with no value type specified in iterable type array\\|ArrayObject\\.$#"
			count: 1
			path: Classes/Backend/Controller/AdminModuleController.php

		-
			message: "#^Parameter \\#1 \\$href of method TYPO3\\\\CMS\\\\Backend\\\\Template\\\\Components\\\\Menu\\\\MenuItem\\:\\:setHref\\(\\) expects string, Psr\\\\Http\\\\Message\\\\UriInterface given\\.$#"
			count: 1
			path: Classes/Backend/Controller/AdminModuleController.php

		-
			message: "#^Parameter \\#1 \\$tree of method Cru\\\\Psr14EventList\\\\Backend\\\\Controller\\\\AdminModuleController\\:\\:renderTree\\(\\) expects array\\|ArrayObject, iterable given\\.$#"
			count: 1
			path: Classes/Backend/Controller/AdminModuleController.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type Symfony\\\\Component\\\\Console\\\\Helper\\\\Table\\. Use \\-\\> instead\\.$#"
			count: 1
			path: Classes/Command/EventListCommand.php

		-
			message: "#^Method Cru\\\\Psr14EventList\\\\Service\\\\ProvideEventListService\\:\\:getConfiguration\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Service/ProvideEventListService.php

		-
			message: "#^Only booleans are allowed in an elseif condition, bool\\|null given\\.$#"
			count: 2
			path: Classes/Service/ProvideEventListService.php

		-
			message: "#^Only booleans are allowed in an if condition, bool\\|null given\\.$#"
			count: 8
			path: Classes/Service/ProvideEventListService.php

		-
			message: "#^Only booleans are allowed in an if condition, int\\|false given\\.$#"
			count: 1
			path: Classes/Service/ProvideEventListService.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: Classes/Service/ProvideEventListService.php

		-
			message: "#^Parameter \\#2 \\$content of static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\GeneralUtility\\:\\:writeFileToTypo3tempDir\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: Classes/Service/ProvideEventListService.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match expects string, string\\|false given\\.$#"
			count: 1
			path: Classes/Service/ProvideEventListService.php
